.navigation-bar a {
    text-decoration: none;
    position: sticky;
    top: 0;
}

.navigation-bar a:after {
    content: "";
    position: absolute;
    background-color: #ff3c78;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
}

.navigation-bar a:hover {
    color: #ffffff;
}

.navigation-bar a:hover::after {
    width: 100%;
}