.line-chart {
    margin-left: 100px;
}

.pia-chart {
    margin-right: 100px;
}

.analytics {
    font-weight: bold;
}

.chart-title {
    margin-left: 90px;
}

.pie-chart-title {
    margin-left: 80px;
}